#editbar {
    padding: 0.2rem;
    text-align: right;
    background-color: white;
    border: 1px dashed lightgray;
    border-radius: 0.3rem;
}

#editbar:hover {
    display: block !important;
}

#editbar.hide {
    display: none !important;
}
  
#editbar div {
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

#editbar button {
    height: 1.8rem;
    margin: 0.2rem 0.5rem;
    color: grey;
    border: 1px solid grey;
}

#editbar button.red {
    background-color: red;
    color: black;
    border: 1px solid black;
}