#main-header {
    top: 0;
    position: sticky;
    color: #537CD1;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#main-header ul {
    list-style: none;
    max-width: 350px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-link  {
    color: #537CD1;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover, .nav-link:visited:hover, .active-link {
    color: #173591 !important;
    background-color: #7babe523;
}

.nav-link:visited {
    color: #537CD1;
}