div.response {
    background-color: lightgray;
    border: 1px solid gray;
    color: gray;
    font-size: 0.8rem;
    padding: 0.25rem 0.4rem;
    border-radius: 3px;
}

div.valid {
    background-color: lightgreen;
    border-color: darkgreen;
    color: darkgreen;
}

div.non-valid {
    background-color: lightcoral;
    border-color: red;
    color: darkred;
}